/*CSC 435 Web Programming
index.html
Style sheet for roast duck */

body	{ 
	   background-image: url(http://www.cs.washington.edu/education/courses/cse190m/08sp/homework/1/silverware.jpg); 
	   background-repeat: repeat;
	   background-attachment: fixed;
	}

h1, h2	{
	   color: #A4A400;
   	   background-color: #F0F0F0;
   	   font-family: "Century Gothic", "Futura", "Verdana", sans-serif;
/*         font-family: "MLFHelveticaNeue", Helvetica, Arial, serif;*/
   	   text-decoration: underline;
   	  /* letter-spacing: 0.2em;*/
	 }

h1	{
	   text-align: center;
   	   font-size: 22pt;
  	   font-weight: bold;
	}

h2	{
   	   text-align: left;
   	   font-size: 18pt;
   	   font-weight: normal;
	}

p, li	{
   	   color: #404040;
   	   font-size: 12pt;
   	   font-family: "Georgia", "Garamond", "Serif";
	}

a	{
   	   color: #A4A400;
   	   text-decoration: underline;
	}

blockquote   {
   		font-style: italic;
   		background-color: #FFFFC8;
	     }

ul	{
   	   list-style-image: url(images/duck3.png);
	}

