/* David Obourn
   CSC 280
   Lecture 2

   Styles for my resume
*/

p {
	color: red;
	background-color: purple;
}

h1 {
	color: cyan;
	font-size: 20pt;
}

body {
	background-color: #00AAAA;
}

h2 {
	font-family: "Comic Sans MS", cursive;
}